{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/certifcss' %}" />
    <link rel="icon" type="image/png" href="logo.png"/>
    <script src="{% static 'js/certif.js' %}"></script>
    <title>Certificat</title>
</head>
<body class="box">
    <img src="{% static 'img/certificat.png' %}" alt="">

</body>
</html>