<h2>HIIIIIIII {{user.profile.score}} {{user.first_name}} {{user.last_name}} </h2>
<a type="submit" value="Logout" href="logout">logout</a>
<script>
    
    function scoreAdd(){
        var x = document.getElementById("sum").value;
        if(x==3){
            
            alert("GJ" +{{user.profile.score}});
        }
    }
</script>
    <p>Calculate 1+2 :</p>
    <input type="number" name="sum" id="sum">
    <input type="submit" value="Calculate" onclick="scoreAdd()">
    

<p>{{user.profile.score}}</p>
