{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/logo.png'%}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'js/test.js'%}"></script>
    <title>P-English-Test</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> 

<div class="box">
    <div class="home">





    </div>
</div>


<footer>
    <div class="container reveal">
        <div class="content-footer">
            <img src="{% static 'img/peng.png'%}" alt="">
            <h4>
                Ce site a comme but d'apprendre la langue anglaise.
            </h4>
            <p class="end">
                Prepared and Designed By <span style="color : snow;">APTAL</span>
            </p>
        </div>
    </div>
    </div>
</footer>

</body>
</html>